# Telegram
BOT_TOKEN=

# Database
DATABASE_URL=

# Admin
ADMIN_ID=

# Website
WEBSITE_URL=https://www.sabznahad.com

# Support
SUPPORT_PHONE=

# AI
OPENAI_API_KEY=

# Payment
MELLAT_TERMINAL_ID=
MELLI_MERCHANT_ID=
SAMAN_MERCHANT_ID=