# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# User uploaded files
storage/uploads/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
secrets/